html{
    background-image: url(deathstar.jpg);
    background-size: cover;
}

body {
    color: gray;
    margin: auto;
    width: 50%;
}

img{
    width: 100px;
    height: 100px;
    border: solid 2px red;
}

p{
    display: inline;
}




