html {
    background-image: url("../images/deathstar.jpg");
    background-size: cover;
}

body {
    color: red;
    margin: auto;
    width: 50%;
}

img {
    width: 100px;
    height: 100px;
    border: solid 2px red;
    margin-right: 10px;
}

.attackers {
    display: flex;
}

.enemies {
    display: flex;
}